# Manipulação de Arquivos

In [ ]:
#abrindo arquivo para leitura:
arq1 = open('38-Cap06/arquivos/arquivo1.txt', 'r') 
# open -> abrir //// r -> read (ler)
#eu estou abrindo esse arquivo para leitura e gravando o seu conteúdo em uma variável chamada arq1

#lendo o arquivo:
print(arq1.read())
#o objetivo desse método é imprimir o conteúdo do arquivo que foi armazenado na memória

#contando o número de caracteres
print(arq1.tell())
#esse método conta os caracteres do arquivo

#retornar para ó início do arquivo (pois quando você chama o arquivo para leitura, a linguagem leva o cursor para o final do arquivo)
#retornando
print(arq1.seek(0,0)) #seek -> procurar
#desse modo, o cursor retorna para o início - indicado pelas coordenadas 0,0.

#lendo o primeiros 23 caracteres:
print(arq1.read(23))
#o cursor irá parar no 23° caractere, logo, se tentar executar novamente:
print(arq1.read())
#irá imprimir os caracteres que estão a partir do 23°

# Gravando Arquivos

In [ ]:
#abrindo arquivo para gravação:
arq2 = open('38-Cap06/arquivos/arquivo2.txt', 'w') # w -> write (escrita) 
#se esse arquivo não estiver no caminho indicado, ele será criado, se ele já existir, irá subescrever 
#como abrimos esse arquivo SOMENTE para gravação, não podemos abri-lo para leitura:
# print(arq2.read()) -----> ESSE COMANDO TRARÁ UMA MENSAGEM DE ERR0: not readable
#mas eu também posso abrir para leitura e escrita (juntos)

#Gravando arquivo
arq2.write("Aprendendo a programar em python.")
arq2.close() #close serve para fechar o arquivo. close --> fechar

#lendo o arquivo gravado:
arq2 = open('38-Cap06/arquivos/arquivo2.txt', 'r') #tou armazenando esse arquivo na variável
#logo, imprimo o conteúdo do arquivo que foi armazenado na variável:
print(arq2.read())

# acresentando conteúdo ao arquivo:
arq2 = open('38-Cap06/arquivos/arquivo2.txt', 'a') #a = append --> acresentar
arq2.write(' A metodologia de ensino utilizada nesse curso, facilita o aprendizado.'')
arq2.close()
arq2 = open('38-Cap06/arquivos/arquivo2.txt', 'r')
print(arq2.read())

#retornando para o início do arquivo:
print(arq2.seek(0,0))

# Abrindo Dataset em Linha Única

In [ ]:
f = open('38-Cap06/arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')  #split --> dividir
#quando encontrar enter, o arquivo será dividido, e gurdado em rows
print(rows)

#Dividindo o arquivo em colunas 
f = open('38-Cap06/arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
print(full_data)

# Contando as Linhas de um Arquivo

In [4]:
f = open('38-Cap06/arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
count = 0
for row in full_data:
    count += 1 #equivalente a: count = count +1
print(count, 'linhas')

32184 linhas

# Contando as Colunas de um Arquivo

In [7]:
f = open('38-Cap06/arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
    first_row = full_data[0] # índice da primeira linha, pois a indexação em pytho começa por 0
count = 0
for column in first_row:
    count = count + 1
    
#outra possível forma de solucionar:
# for column in full_data[0]:
#      count = count + 1
       
print(count)

4

# Importando um Dataset com Panda
O Pandas é uma biblioteca de código aberto para análise de dados em Python. Ela fornece estruturas de dados de alto desempenho e fáceis de usar, além de ferramentas de análise de dados. O nome "Pandas" é derivado de "Panel Data" (dados em painel), que é um termo econômico para conjuntos de dados multidimensionais.

In [11]:
import pandas as pd

In [17]:
arquivo = '38-Cap06/arquivos/salarios.csv'
df = pd.read_csv(arquivo)
df.head() # a 'cabeça' do data frame - que são as primeiras linhas

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [18]:
df['Position Title'].value_counts()
#para filtrar o data frame por uma das colunas
#deve usar aspas simples para indiar a coluna

POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
FOREMAN OF WINDOW WASHERS                    1
SUPVSR OF INFORMATION SERVICES               1
MANAGER OF TAX POLICY                        1
FOREMAN OF ARCHITECTURAL IRON WORKERS        1
MECHANICAL ENGINEER IV                       1
Name: Position Title, Length: 1094, dtype: int64